body *,
body *:before,
body *:after {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #faf9f9;
  height: 100vh;
  padding: 50px;
  display: flex;

  &__display {

    display: flex;
    max-width: 50%;
  }
}



