.Alphabet {
  width: 45%;
  display: grid;
  grid-template-rows:    repeat(8, 30px);
  grid-template-columns: repeat(8, 1fr);
  max-height: 350px;
  padding: 20px;
  background-color: #bee3db;
  border-radius: 5px;

  &__item {
    display: flex;

    * {
      padding: 10px 5px;
    }

    &--focus {
      background-color: #89b0ae;
      border-radius: 8%;
    }
  }

  &__origin {
    font-weight: bolder;
  }
  &__pronunciation {

  }
}